Source: mediamosa
Section: web
Priority: optional
Maintainer: Arjen Klop <a.klop@madcap.nl>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://www.mediamosa.org/

Package: mediamosa
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, apache2 | httpd, php5, php5-mysql | php5-mysqli, php5-gd, wwwconfig-common (>= 0.0.37), mysql-client | virtual-mysql-client, dbconfig-common, file, wget, liblua5.1-lpeg1 | liblua5.1-lpeg2, lua5.1, ffmpeg | vpx-transcoding
Suggests: mysql-server
Description: a webservice oriented media management and distribution platform
 MediaMosa is a full featured, webservice oriented media management and 
 distribution platform. MediaMosa is implemented as a modular extension to 
 the open source Drupal system. You'll find the MediaMosa specific modules 
 in sites/all/modules, the remainder of the tree is the standard Drupal core.
 .
 Please visit http://www.mediamosa.org for more information, announcements,
 documentation, community forums, and new releases.
 .
 References:
  http://www.mediamosa.org
  http://www.drupal.org
