#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

build: 
	#docbook-to-man debian/mediamosa.sgml > mediamosa.1

clean: 
	dh_testdir
	dh_testroot
	# Add here commands to clean up after the build process.
	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install

	# fix permissions
	find $(CURDIR)/debian/mediamosa/usr/share/mediamosa \
	  -name '*.png' -o -name '*.jpg' -o -name '*.gif'| xargs chmod a-x

	# delete unneeded modules
	rm -rf $(CURDIR)/debian/mediamosa/usr/share/mediamosa/sites/all/modules/coder
	rm -rf $(CURDIR)/debian/mediamosa/usr/share/mediamosa/sites/all/modules/devel

	# extra
	install -m644 debian/mediamosa.lintian debian/mediamosa/usr/share/lintian/overrides/mediamosa

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGELOG.txt
	dh_installdocs
	dh_installexamples
	dh_installdebconf
	dh_installcron
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol -- -V'debconf-depends=debconf (>= $(MINDEBCONFVER))'
	dh_md5sums
	dh_builddeb

binary: binary-indep
.PHONY: build clean binary-indep binary install configure
